@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Nunito+Sans&display=swap');
@include foundation-everything;
// place global css here
$pizza-green: #3F8D37;
$pizza-beige: #FFF1D7;
$pizza-orange: #F7AD45;
$pizza-red: #BB3E00;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: white;
  color: black;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}

a {
  color: black; 
}

a:hover, a:active, a:focus {
  color: $pizza-green;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-size: 48px;
  margin: 1rem
}

.review-title {
  margin: 0 1rem;
  font-size: 24px;
}

.top-bar, .top-bar ul {
  background-color: $pizza-orange;
}

.button {
  background-color: $pizza-green;
  font-size: 18px;
  margin: 8px;
  border-radius: 1rem;
}

.button:hover, .button:active, .button:focus {
  background-color: $pizza-red;
}

.pizza-list {
  display: flex;
  flex-wrap: wrap;
}

.pizza-place-tile {
  background-color: $pizza-orange;
  width: 30%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1.5rem;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
}

.review-tile {
  background-color: $pizza-orange;
  color: $black;
  width: 49%;
  border-radius: 4rem;
  margin: 1rem auto;
  padding: 2rem 1rem 1rem 1rem;
}

.review-tile h6{
  color: black
}

.review-form {
  margin: 0 auto;
  max-width: 70%;
}

.list-logo {
  max-height: 3rem;
  display: block;
  margin: 0 auto;
}

.centered-content {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}

.show-page-flex {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.show-page-info {
  max-width: 50%;
  margin: 1rem 3rem;
}

.show-page-image {
  max-width: 50%;
  height: auto;
  margin: 1rem 3rem auto;
}

.pizza-star {
  width: 3rem
}

.user-image {
  height: 2.5rem;
}

.vote-button-image {
  height: 2em;
  border-radius: 5px
}

.vote-button-image:hover {
  cursor: pointer;
}

.vote-count {
  font-size: 20px;
}

.top-bar-margin {
  margin-top: 0.4rem;
}

.green-background {
  background-color: $pizza-green;
}

.red-background {
  background-color: $pizza-red;
}