@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.list-logo {
  max-height: 3rem;
  display: block;
  margin: 0 auto;
}

.pizza-list {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}

.pizza-list-item {
  list-style-type: none;
}