@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
$pizza-green: #3F8D37;
$pizza-beige: #FFF1D7;
$pizza-orange: #F7AD45;
$pizza-red: #BB3E00;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: $pizza-beige;
  color: $pizza-red;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  color: $pizza-red; 
}

a:hover {
  color: $pizza-green;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 48px;
}

h6 {
  font-size: 24px;
}

.top-bar, .top-bar ul {
  background-color: $pizza-orange;
}

.button {
  background-color: $pizza-green;
  border: solid $pizza-orange 1px;
}

.review-tile {
  background-color: $pizza-red;
  color: $pizza-beige;
  max-width: 50%;
  border: 4px solid $pizza-orange;
  border-radius: 50%;
  margin: 1rem auto;
  padding: 4rem 3rem 3rem 3rem;
}

.review-tile h6{
  color: #FFF1D7
}

.review-form {
  margin: 0 auto;
  max-width: 70%;
}

.list-logo {
  max-height: 3rem;
  display: block;
  margin: 0 auto;
}

.pizza-list {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}

.pizza-list-item {
  list-style-type: none;
}

.show-page {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}

.show-page-flex {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.show-page-info {
  max-width: 50%;
  margin: 1rem 3rem;
}

.show-page-mage {
  max-width: 50%;
  margin: 1rem 3rem;
}